<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Theme/theme/assets/css/freelancer.css" rel="stylesheet" />
    <link href="~/Theme/theme/assets/css/style.css" rel="stylesheet" />
    <link href="~/Theme/theme/assets/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Theme/theme/assets/css/styleAdmin.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jQuery/jquery-1.10.2.js"></script>
    <script src="~/Scripts/angular/angular.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("CULTURE FIT", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @*<ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")*@
            </div>
        </div>
    </div>

    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/services/cultureFit.services.listings.js"></script>
    <script src="~/Scripts/services/cultureFit.services.submissions.js"></script>
    <script src="~/Scripts/services/cultureFit.services.reviews.js"></script>
    <script src="~/Scripts/Dashboard.js"></script>
</body>
</html>
